<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1">
    <name>OnIt</name>
    <description>
        A simple application to list down thoughts, and everyday insights. 
    </description>
    <author email="mailme@chiragnarula.com" href="http://chiragnarula.com">
        Chirag Narula
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
